* {
	background-color: #CCBFCB;
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: #420D97;
}

.carousel-content {
	display: none;
}

.carousel-content.active {
	display: block;
}

.carousel {
	width: 600px;
	height: 300px;
}

.carousel>div>img {
	width: 100%;
}

.controls {
	margin-top: 10%;
}

button {
	background-color: #970D21;
}

.misFlechas {
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: purple ;
}